{
  "extends": "./node_modules/carbon-factory/.eslintrc",
  "globals": {
    "jest": false
  },
  "rules": {
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-max-props-per-line": ["warning", { "when": "multiline" }],
    "jsx-quotes": ["error", "prefer-double"]
  }
}
